/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --font-family: IBM Plex Mono;
  --bold-font: 700;
  --regular-font: 400;
  --header-bg: url("../images/cover-image-dark.png");
  --title-color: rgb(219, 0, 255);
  --accent-color: rgb(255, 0, 112);
  --bg-color: rgb(255, 0, 112);
  --accent-color-hover : rgba(255, 0, 112, 0.4);
  --header-color: rgb(0, 0, 40);
  --content-color: rgb(241, 178, 206);
  --logo-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  --still-bg: rgb(0, 0, 40);
}

@media (width >= 768px) {
  :root {
    --logo-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}